{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="container p-6 mx-auto">
    <div id="accordion-collapse" data-accordion="collapse">
        <h2 id="accordion-collapse-heading">
            <button type="button"
                class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200"
                data-accordion-target="#accordion-collapse-body" aria-expanded="false"
                aria-controls="accordion-collapse-body">
                <span>Ward 1 - AJARA/OPEODU</span>
                <svg data-accordion-icon="" class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
        </h2>
        <div id="accordion-collapse-body" class="hidden" aria-labelledby="accordion-collapse-heading">
            <div class="p-5 font-light border border-t-0 border-gray-200">
                <main class="flex-1 overflow-x-auto relative">
                    <table class="w-full text-sm text-left text-gray-500">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="py-3 px-6">
                                    POLLING UNIT ID
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    POLLING UNIT NAME
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    AGENT NAME
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    AGENT PHONE NUMBER
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    APC
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    PDP
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    ACCORD
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    REMARK
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white border-b">
                                <th scope="row" class="py-4 px-6">
                                    001
                                </th>
                                <td class="py-4 px-6">
                                    I.D.C. SCHOOL, AKOBO
                                </td>
                                <td class="py-4 px-6">
                                    KING ANUOLUWA
                                </td>
                                <td class="py-4 px-6">
                                    2999
                                </td>
                                <td class="py-4 px-6">
                                    2999
                                </td>
                                <td class="py-4 px-6">
                                    2999
                                </td>
                                <td class="py-4 px-6">
                                    2999
                                </td>
                                <td class="py-4 px-6">
                                    OUTSTANDING RESULT
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </main>

            </div>
        </div>

        <h2 id="accordion-collapse-heading-2">
            <button type="button"
                class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200"
                data-accordion-target="#accordion-collapse-body-2" aria-expanded="false"
                aria-controls="accordion-collapse-body-2">
                <span>Ward 2 - APATERE/KUFFI/OGUNBODE/OGO</span>
                <svg data-accordion-icon="" class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
        </h2>
        <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
            <div class="p-5 font-light border border-t-0 border-gray-200">
                <main class="flex-1 overflow-x-auto relative">
                    <table class="w-full text-sm text-left text-gray-500">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="py-3 px-6">
                                    POLLING UNIT ID
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    POLLING UNIT NAME
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    AGENT NAME
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    AGENT PHONE NUMBER
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    APC
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    PDP
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    ACCORD
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    REMARK
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white border-b">
                                <th scope="row" class="py-4 px-6">
                                    001
                                </th>
                                <td class="py-4 px-6">
                                    SALVATION ARMY SCHOOL, APATERE
                                </td>
                                <td class="py-4 px-6">
                                    KING ANUOLUWA
                                </td>
                                <td class="py-4 px-6">
                                    2999
                                </td>
                                <td class="py-4 px-6">
                                    2999
                                </td>
                                <td class="py-4 px-6">
                                    2999
                                </td>
                                <td class="py-4 px-6">
                                    2999
                                </td>
                                <td class="py-4 px-6">
                                    OUTSTANDING RESULT
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </main>

            </div>
        </div>
    </div>
</section>
{% endblock %}